{% extends "template.html" %} {% block head %}
<link
  href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Roboto:ital,wght@0,300;0,500;0,700;1,400;1,500&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename = 'styles/content.css')}}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/homepage.css')}}"
/>

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/amoeba.css')}}"
/>

{% endblock %} {% block content %}
<div class="popup">
  <div class="popup-content">
    <img
      id="close-form"
      src="{{ url_for('static', filename='images/signs.svg')}}"
      alt="close"
    />
    <form action="/" method="post">
      {{ form.hidden_tag()}}
      <p>
        {{ form.username.label}}<br />
        {{ form.username(class_="signup-input") }}<br />
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password.label }}<br />
        {{ form.password(class_="signup-input") }}<br />
        {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.email.label}}<br />
        {{form.email(class_="signup-input")}}<br />
      </p>
      <p>{{ form.submit(class_="signup") }}</p>
      {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </form>
  </div>
</div>
<div id="homepage-section1">
  <div class="content-box">
    <h1 id="signup-h1">Find your amoeba today :)</h1>
    <p id="signup-p">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in.
    </p>
    <div id="amoeba_box">
      <div class="amoeba_box_child">
        <div class="amoeba_ball" id="amoeba1">
          <div class="amoeba_eye eye_left"></div>
          <div class="amoeba_eye eye_right"></div>
          <div class="amoeba_smile"></div>
          <div
            class="style amoeba_style_stripes amoeba_none"
            id="stripes"
          ></div>
          <div class="style amoeba_style_spots amoeba_none" id="spots"></div>
        </div>
      </div>
      <div class="amoeba_box_child">
        <div class="amoeba_ball" id="amoeba2">
          <div class="amoeba_eye eye_left"></div>
          <div class="amoeba_eye eye_right"></div>
          <div class="amoeba_smile"></div>
          <div
            class="style amoeba_style_stripes amoeba_none"
            id="stripes"
          ></div>
          <div class="style amoeba_style_spots amoeba_none" id="spots"></div>
        </div>
      </div>
      <div class="amoeba_box_child">
        <div class="amoeba_ball" id="amoeba3">
          <div class="amoeba_eye eye_left"></div>
          <div class="amoeba_eye eye_right"></div>
          <div class="amoeba_smile"></div>
          <div
            class="style amoeba_style_stripes amoeba_none"
            id="stripes"
          ></div>
          <div class="style amoeba_style_spots amoeba_none" id="spots"></div>
        </div>
      </div>
    </div>
    <button id="signupbutton-popup">Get Started</button>
  </div>

  <script>
    document
      .getElementById('signup-popup')
      .addEventListener('click', function() {
        document.querySelector('.popup').style.display = 'flex';
      });
    document.getElementById('close-form').addEventListener('click', function() {
      document.querySelector('.popup').style.display = 'none';
    });
  </script>
  {% endblock %}
</div>
