{% extends "template.html" %} {% block head %}
<link
  href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Roboto:ital,wght@0,300;0,500;0,700;1,400;1,500&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename = 'styles/content.css')}}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/homepage.css')}}"
/>

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/amoeba.css')}}"
/>

{% endblock %} {% block content %}
<div id="homepage-section1">
  <div class="content-box">
    <h1 id="signup-h1">Find your amoeba today :)</h1>
    <p id="signup-p">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in.
    </p>
    <div id="amoeba_box">
      <div class="amoeba_box_child">
        <div class="amoeba_ball" id="amoeba1">
          <div class="amoeba_eye eye_left"></div>
          <div class="amoeba_eye eye_right"></div>
          <div class="amoeba_smile"></div>
          <div
            class="style amoeba_style_stripes amoeba_none"
            id="stripes"
          ></div>
          <div class="style amoeba_style_spots amoeba_none" id="spots"></div>
        </div>
      </div>
      <div class="amoeba_box_child">
        <div class="amoeba_ball" id="amoeba2">
          <div class="amoeba_eye eye_left"></div>
          <div class="amoeba_eye eye_right"></div>
          <div class="amoeba_smile"></div>
          <div
            class="style amoeba_style_stripes amoeba_none"
            id="stripes"
          ></div>
          <div class="style amoeba_style_spots amoeba_none" id="spots"></div>
        </div>
      </div>
      <div class="amoeba_box_child">
        <div class="amoeba_ball" id="amoeba3">
          <div class="amoeba_eye eye_left"></div>
          <div class="amoeba_eye eye_right"></div>
          <div class="amoeba_smile"></div>
          <div
            class="style amoeba_style_stripes amoeba_none"
            id="stripes"
          ></div>
          <div class="style amoeba_style_spots amoeba_none" id="spots"></div>
        </div>
      </div>
    </div>
    <button id="signupbutton" onclick="window.location.href='/login'">Get Started</button>
  </div>
</div>
<div id="homepage-section2">
  <div class="content-box">
    <h1>What is an amoeba?</h1>
    <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in.
    </p>
  </div>
</div>
<div id="homepage-section3">
    <div class="content-box">
      <h1>Do quizzes and earn points while learning new things!</h1>
      <p>
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in.
      </p>
    </div>
  </div>
</div>
{% endblock %}
