:root {
  --hue-neutral: #99dbb4;
  --hue-blue: #638be2;
  --hue-light: #ccd9cc;
  --hue-green: #b0db7d;
}

body {
  border-radius: 20px;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f7ebe4;
}

.correct {
  color: green;
  display: inline-block;
}

.wrong {
  color: red;
  display: inline-block;
}

#results_list li {
  list-style-type: decimal;
}

#quiztitle {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 30px;
  font-size: 40px;
}

.questionli {
  font-size: 30px;
}

.quizcontent {
  width: 100vw;
  height: 80vh;
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
}
#question {
  font-size: 30px;
}
#results {
  margin-top: 20px;
}

#resultslink {
  display: block;
  width: 200px;
  height: 60px;
  background-color: var(--hue-blue);
  color: black;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 30%;
  margin-right: 30%;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  border: 1px solid hsl(var(--hue), 100%, 30%);
  padding: 5px 10px;
  outline: none;
  color: white;
}

.container {
  background-image: linear-gradient(
    to bottom right,
    var(--hue-light) 40%,
    var(--hue-blue) 100%
  );
  width: 800px;
  max-width: 100%;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba($gray, 10%);
  font-size: 24px;
}

#description {
  padding: 20px;
  font-size: 30px;
}

.timer {
  text-align: center;
  margin: 20 auto 20;
}

#minutes,
#seconds {
  font-size: 48px;
  color: white;
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
