* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: white;
}

header {
  width: 100%;
  height: 60px;
  display: block;
  background-color: #f7ebe4;
}

.header-content {
  height: inherit;
  margin-left: 200px;
  margin-right: 200px;
}

h1 {
  font-family: 'Merriweather', serif;
}

button, .formbutton {
  padding: 20px 60px;
  border-radius: 28px;
  border: 0;
  background-color: #0f1c43;
  font-size: 20px;
  font-weight: 500;
  color: #f7ebe4;
  box-shadow: 0px 8px rgb(61, 90, 153)
}

button:hover, .formbutton:hover {
  background-color: #638be2;
  transition: 0.4s;
  cursor: pointer;
}

button:active, .formbutton:active{
  transform: translateY(3px);
  box-shadow: 0px 2px rgb(61, 90, 153);
}

.logo {
  float: left;
  display: inline-block;
  color: #0f1c43;
  margin-top
}

#amoeba-logo {
  background-color: #ff8989;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
}

#logo-text {
  font-size: 30px;
}

.navigation {
  float: right;
}

.navigation a {
  height: 100%;
  float: right;
  padding: 20px 20px;
  list-style: none;
  color: #0f1c43;
}

.content_box {
  padding-top: 100px;
  height: 100%;
}

p {
  font-size: 20px;
  color: #0f1c43;
  font-weight: heavy;
  line-height: 1.5em;
}

input {
  border: none;
}

.footer {
  width: 100vw;
  display: block;
  padding: 50px 0px 40px 140px;
  margin-top: 100px;
  background-color: white;
  overflow: hidden;
}

.footer div {
  float: left;
  padding-right: 300px;
}

.popup {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  height: 500px;
  width: 300px;
  background: white;
  border-radius: 7px;
  position: relative;
}

input {
  border: 1px solid gray;
  border-radius: 7px;
  padding: 10px;
}
