#homepage-section1 {
  height: 100vh;
  background-color: #f7ebe4;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}
#homepage-section2 {
  height: 100vh;
  background-color: #9ccef9;
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}
#homepage-section3 {
  height: 100vh;
  background-color: #ccd9cc;
  border-top-left-radius: 50% 20%;
  border-top-right-radius: 50% 20%;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.content-box {
  max-width: 620px;
  text-align: center;
  margin: auto;
  padding-top: 50px;
}
.description-box {
  max-width: 900px;
  text-align: center;
  margin: auto;
  padding-top: 200px;
}

.description {
  font-size: 30px;
  line-height: 40px;
}

#amoeba_box {
  margin-top: 120px;
  width: 100%;
}

#amoeba_box div {
  display: inline-block;
}

.amoeba_box_child {
  transform: scale(0.7);
}

#amoeba1 {
  background-color: #ff8989;
}

#amoeba3 {
  background-color: #ccd9cc;
}

#signup-h1 {
  font-size: 63px;
  font-weight: 600;
  color: #0f1c43;
  margin-bottom: 20px;
}

#signup-p {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

#signupbutton-popup {
  display: inline-block;
}

.signup-input {
  margin: 20px auto;
  display: block;
  width: 50%;
}

.formbutton {
  color: black;
  margin: 20px auto;
  display: block;
}

#close-form {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -10px;
  top: -10px;
  cursor: pointer;
}
