:root {
  --hue-neutral: #99dbb4;
  --hue-wrong: 0;
  --hue-correct: #b0db7d;
}

body {
  border-radius: 20px;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.quizcontent {
  width: 100vw;
  height: 80vh;
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  border: 1px solid hsl(var(--hue), 100%, 30%);
  padding: 5px 10px;
  outline: none;
  color: white;
}

.btn.wrong {
  --hue: var(--hue-wrong);
  color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.container {
  background-image: linear-gradient(
    to bottom right,
    var(--hue-correct) 40%,
    var(--hue-neutral) 100%
  );
  width: 800px;
  max-width: 100%;
  padding: 10px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba($gray, 10%);
  font-size: 24px;
}

#description {
  padding: 20px;
  font-size: 30px;
}

.timer {
  text-align: center;
  margin: 20 auto 20;
}

#minutes,
#seconds {
  font-size: 48px;
  color: white;
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
