{% extends "template.html" %}

{% block head %}
<style>
  .catmenucontainer {
    display: flex;
    margin:20px;
  }

  .catsidemenu {
    width: 250px;
    background-color: rgb(117, 195, 219);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0;
    align-self: flex-start;
    overflow: hidden;
  }

  .catsidemenu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .catsidemenu h2{
    display:block;
    color:white;
    font-size: 1.1em;
    font-weight: bold;
    padding:20px;
    margin:0;
    transition: background-color 0.3s;
  }

  .catsidemenu h2:hover{
    background-color: rgb(58, 180, 218);
    cursor: pointer;
  }

  .activecat {
    background-color: rgb(58, 180, 218);
  }

  .quizlistcontainer {
    display: flex;
    flex-direction: column;
    background-color: #f7ebe4;
    flex-grow: 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .quizlist {
    display: flex;
    flex-wrap: wrap;
  }

  .quizhidden {
    display: none;
  }

  .quizbtncontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .quizlistcontainer a {
    text-align: center;
  }
  .quizbtn {
    width: 170px;
    padding: 20px;
    background-color: #0f1c43;
    color:rgb(216, 216, 216);
    box-shadow: 0px 5px rgb(61, 90, 153);
    border:none;
    outline:none;
    border-radius: 8px;
    margin: 20px 50px;
  }

  .quizbtn:hover {
    color: white;
  }

  .quizbtn:active {
    transform: translateY(3px);
    box-shadow: 0px 2px rgb(61, 90, 153)
  }
</style>
{% endblock %}
{% block content %}
  <div class="catmenucontainer">
    <div class="catsidemenu">
      <ul>
        {% for category in catlist %}
        <li><h2 onclick="selectcat(this)" class="catlink">{{ category }}</h2></li>
        {% endfor %}
      </ul>
    </div>
    <div class="quizlistcontainer">
      {% for category in catlist %}
      <div class="quizlist quizhidden" id="{{ category }}">
        {% for quiz in quizdic[category] %}
        <div class="quizbtncontainer">

          <form method='post', action="{{ url_for('quiz', quizid=quiz.id) }}">
            <button class="quizbtn">{{ quiz.quizname }}</button>
          </form>
          {% if current_user.is_admin == True %}
            <a href="{{ url_for('deletequiz', quizid=quiz.id) }}">Delete {{ quiz.quizname }}</a>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
  <script>

    //function to show only the quizes associated with a selected category.
    function selectcat(self){
      var code = self.innerHTML;
      var cats = document.getElementsByClassName("catlink");
      var length = (cats !== null)? cats.length : 0;
      var i, category, quizlist;
      for(i=0; i<length; i++){
        category = cats[i];
        quizlist = document.getElementById(category.innerHTML);
        category.classList.remove('activecat');
        quizlist.classList.add('quizhidden');
      }
      self.classList.add('activecat');
      document.getElementById(code).classList.remove('quizhidden');
    }
  </script>
{% endblock %}