{% extends "template.html" %} {% block head %}
<link
  href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Roboto:ital,wght@0,300;0,500;0,700;1,400;1,500&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename = 'styles/content.css')}}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/quizstyle.css')}}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/amoeba.css')}}"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %} {% block content %}
<div class="content">
  <h2 id="quiztitle">
    This is quiz '{{ quizname }}' from category '{{ quizcat }}'
  </h2>
  <div class="quizcontent">
    <div class="amoeba_ball" id="amoebabody">
      <div class="amoeba_eye eye_left"></div>
      <div class="amoeba_eye eye_right"></div>
      <div class="amoeba_smile"></div>
      <div class="style amoeba_style_stripes amoeba_none" id="stripes"></div>
      <div class="style amoeba_style_spots amoeba_none" id="spots"></div>
    </div>
    <div class="container">
      <p id="description">
        You will be given 5 seconds to answer each question, good luck!
      </p>
      <div id="question-container" class="hide">
        <div id="question">Question</div>
        <div id="answer-buttons" class="btn-grid"></div>
      </div>
      <div class="timer">
        <span id="minutes">00</span>:
        <span id="seconds">00</span>
      </div>
      <div class="controls">
        <button id="start-btn" class="start-btn btn">Start</button>
        <button id="next-btn" class="next-btn btn hide">Next</button>
        <button id="end-btn" class="next-btn btn hide">End</button>
      </div>
    </div>
    <div id="results" class="hide">
      <h1>Here are the results of the quiz:</h1>
      <ol id="results_list"></ol>
      <a href="" id="resultslink">Submit Quiz</a>
    </div>
  </div>
</div>
<script>
  const questionset = JSON.parse('{{questionset | tojson | safe}}');
  const questioncount = questionset.questions.length;
  let answered = [];
  let questionNo = 0;
  var selectedanswerbutton = 0;
  let score = 0;

  //quiz container elements
  const container = document.getElementsByClassName('container')[0];
  const description = document.getElementById('description');
  const startbutton = document.getElementById('start-btn');
  const nextbutton = document.getElementById('next-btn');
  const endbutton = document.getElementById('end-btn');
  const questioncontainer = document.getElementById('question-container');
  const answerbuttons = document.getElementById('answer-buttons');
  const controlsdiv = document.getElementsByClassName('controls')[0];

  var timeleft = 50;
  const starttime = 50;
  const questiontime = 5;
  secondsdiv = document.getElementById('seconds');
  minutesdiv = document.getElementById('minutes');

  const resultsdiv = document.getElementById('results');

  startbutton.addEventListener('click', startGame);
  function startGame() {
    startbutton.classList.add('hide');
    nextbutton.classList.remove('hide');
    questioncontainer.classList.remove('hide');
    description.classList.add('hide');
    setQuestions(questionset, questionNo);
  }

  //Sets the buttons to equal the questions and answers
  //takes an array of questions, and the questionnumber
  function setQuestions(questionset, index) {
    timeleft = questiontime;

    //if there aren't anymore questions
    if (index == questioncount) {
      nextbutton.classList.add('hide');
      endbutton.classList.remove('hide');
      displayScore();
      console.log('here');
      return;
    }
    question.innerHTML = questionset.questions[index].question;

    //get the correct answer
    let i = questionset.questions[index].answerindex;
    let questionanswer = questionset.questions[index].answers[i];

    //append the questionbuttons to the container
    questionset.questions[index].answers.forEach(answer => {
      newbutton = document.createElement('button');
      newbutton.innerHTML = answer;
      answerbuttons.appendChild(newbutton);
      newbutton.classList.add('btn');
      if (answer === questionanswer) {
        newbutton.dataset.correct = true;
      }
      newbutton.addEventListener('click', answerQuestion);
    });
    questionNo++;
  }
  //removes question buttons
  function removeQuestions() {
    Array.from(answerbuttons.children).forEach(button => {
      button.remove();
    });
  }

  //when you click the next button
  nextbutton.addEventListener('click', nextQuestion);
  function nextQuestion() {
    //check if user picked an answer
    if (selectedanswerbutton != 0) {
      //if right answer
      if (selectedanswerbutton.dataset.correct) {
        let timebonus = timeleft *50;
        score = score + timebonus + 50;
        answered.push('correct');
      } else {
        answered.push('wrong');
      }
    }
    //if user didn't pick an answer
    else {
      answered.push('wrong');
    }
    removeQuestions();
    setQuestions(questionset, questionNo);
    //reset the selected button
    selectedanswerbutton = 0;
  }

  //when you click on an answer button
  function answerQuestion(e) {
    selectedanswerbutton = e.target;
    e.target.classList.add('selected');
  }

  //display score at the end of the quiz
  function displayScore() {
    removeQuestions();
    clearInterval(mytimer);
    description.innerHTML = 'Your score is:' + score;
    description.classList.remove('hide');
    questioncontainer.classList.add('hide');
  }

  var mytimer = setInterval(setTimer, 1000);
  function setTimer() {
    secondsdiv.innerHTML = timeleft % 60;
    timeleft--;
    console.log(timeleft);
    if (timeleft < 0) {
      Array.from(controlsdiv.children).forEach(button => {
        if (!button.classList.contains('hide')) {
          button.click();
        }
      });
      return;
    }
  }

  //display questions that were wrong/right
  endbutton.addEventListener('click', displayResults);
  function displayResults() {
    resultslist = document.getElementById('results_list');
    resultsdiv.classList.remove('hide');
    container.classList.add('hide');
    amoeba = document
      .getElementsByClassName('amoeba_ball')[0]
      .classList.add('hide');
    answerindex = 0;
    //just need to loop through the answered array, display each question, display the user answer,
    questionset.questions.forEach(q => {
      questiontext = document.createElement('li');
      questiontext.classList.add('questionli');
      questiontext.innerHTML = q.question;
      resultslist.appendChild(questiontext);
      result = document.createElement('p');
      result.innerHTML = answered[answerindex];
      if (answered[answerindex] === 'correct') {
        result.classList.add('correct');
      } else {
        result.classList.add('wrong');
      }
      resultslist.appendChild(result);
      answerindex++;
    });
    document.getElementById('resultslink').href = '/results/' + {{quizid}} +'/' + score;
  }
</script>
{% endblock %}
